<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--BIT，FLOAT，CHAR，TIMESTAMP，OTHER，UNDEFINED，TINYINT，REAL，VARCHAR，BINARY，BLOB，NVARCHAR，
SMALLINT，DOUBLE，LONGVARCHAR，VARBINARY，CLOB，NCHAR，INTEGER，NUMERIC，DATE，LONGVARBINARY，BOOLEAN，
NCLOB，BIGINT，DECIMAL，TIME，NULL，CURSOR-->
<mapper namespace="com.mybatis.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.mybatis.model.User">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PWD" property="pwd" jdbcType="VARCHAR"/>
        <!--**************DATE会丢失时分秒，TIME,TIMESTAMP,可以精确到时分秒
        如果不写jdbcType一样可以获取精确时间***********
        在字段中有Date和DateTime类型，
        在插入数据时只要将实体的属性设置成Timestamp就会对应mysql的DateTime类型，Date会对应mysql的Date类型。
        -->
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
     ID, NAME, PWD, CREATE_TIME, UPDATE_TIME
    </sql>

    <select id="getObjByID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tuser
        where ID =  <![CDATA[#{id,jdbcType=INTEGER} ]]>
    </select>

    <select id="getObjByName" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from tuser
        where NAME  LIKE CONCAT( CONCAT('%',<![CDATA[ #{name,jdbcType=VARCHAR} ]]>), '%')
    </select>

    <resultMap id="ResultUserMap" type="com.mybatis.model.User" extends="BaseResultMap">
        <collection property="roles" javaType="list" ofType="com.mybatis.model.Role">
            <id property="id" column="role_id"></id>
            <result property="rolename" column="role_name"></result>
        </collection>
    </resultMap>
<!-- 这是一个User和role的关联查询，是个好的例子
    <select id="getAllObjs" resultMap="ResultUserMap">
        SELECT
            t.ID role_id,
            t.ROLENAME role_name,
            tu.ID ,
            tu.NAME ,
            tu.PWD,
            tu.CREATE_TIME,
            tu.UPDATE_TIME
            FROM
            trole t,
            tuser tu,
            userrole tur where tur.TROLEID = t.ID AND tur.TUSERID = tu.ID
    </select>
-->
    <select id="getAllObjs" resultMap="ResultUserMap">
 <![CDATA[
        SELECT
            tu.ID ,
            tu.NAME ,
            tu.PWD,
            tu.CREATE_TIME,
            tu.UPDATE_TIME
            FROM
            tuser tu
     ]]>
    </select>
    <insert id="addObj" parameterType="com.mybatis.model.User">
    <![CDATA[
        insert into tuser (ID, NAME, PWD,
          CREATE_TIME, UPDATE_TIME)
        values
        (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
          #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE})
        ]]>
    </insert>

    <insert id="addObjSelective" parameterType="com.mybatis.model.User">
        insert into tuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="name != null">NAME, </if>
            <if test="pwd != null">PWD,</if>
            <if test="createTime != null"> CREATE_TIME,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"><![CDATA[  #{id,jdbcType=INTEGER}, ]]></if>
            <if test="name != null"><![CDATA[  #{name,jdbcType=VARCHAR}, ]]></if>
            <if test="pwd != null"> <![CDATA[   #{pwd,jdbcType=VARCHAR},]]></if>
            <if test="createTime != null"><![CDATA[  #{createTime,jdbcType=DATE}, ]]></if>
            <if test="updateTime != null"> <![CDATA[   #{updateTime,jdbcType=DATE}, ]]> </if>
        </trim>
    </insert>

    <update id="updObjByIDSelective" parameterType="com.mybatis.model.User">
        update tuser
        <set>
            <if test="name != null">NAME = <![CDATA[#{name,jdbcType=VARCHAR},]]></if>
            <if test="pwd != null"> PWD =<![CDATA[ #{pwd,jdbcType=VARCHAR},]]></if>
            <if test="createTime != null">CREATE_TIME =<![CDATA[ #{createTime,jdbcType=DATE},]]></if>
            <if test="updateTime != null">UPDATE_TIME = <![CDATA[#{updateTime,jdbcType=DATE},]]></if>
        </set>
        where ID =<![CDATA[ #{id,jdbcType=INTEGER}]]>
    </update>

    <update id="updObjByID" parameterType="com.mybatis.model.User">
       <![CDATA[
        update tuser
        set NAME = #{name,jdbcType=VARCHAR},
          PWD = #{pwd,jdbcType=VARCHAR},
          CREATE_TIME = #{createTime,jdbcType=DATE},
          UPDATE_TIME = #{updateTime,jdbcType=DATE}
        where ID = #{id,jdbcType=INTEGER}
        ]]>
    </update>

    <delete id="delObjByID" parameterType="java.lang.Integer">
    <![CDATA[
        delete from tuser
        where ID = #{id,jdbcType=INTEGER}
        ]]>
    </delete>

    <delete id="batchDelObjByIDs" parameterType="java.util.List">
        DELETE FROM TUSER WHERE ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            <![CDATA[ #{item}  ]]>
        </foreach>
    </delete>

</mapper>